<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>Dilles</title>
    </head>
    <body>
        <div class="grid-container"></divclass>
            <header class="row">
                <div>
                    <a class="brand" href="index.html">Dilles</a>
                </div>
                <div>
                    <a href="market.html">Zemnieku tirgus</a>
                    <a href="cart.html">Grozs</a>
                    <a href="signin.html">Pierakstities</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680 by 830 px-->
                            <img class="medium" src="./pictures/kirbju-seklas.JPG" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Kirbju sēklas</h2>
                            </a>
                            <div class="price">€ 10</div>
                        </div>  
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680 by 830 px-->
                            <img class="medium" src="./pictures/petersili.JPG" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Kaltēti pētersīļi</h2>
                            </a>
                            <div class="price">€ 10</div>
                        </div>  
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680 by 830 px-->
                            <img class="medium" src="./pictures/zavetas-dilles.JPG" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Žāvētas dilles</h2>
                            </a>
                            <div class="price">€ 10</div>
                        </div>  
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680 by 830 px-->
                            <img class="medium" src="./pictures/apples.JPG" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Žāvēti āboli</h2>
                            </a>
                            <div class="price">€ 10</div>
                        </div>  
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680 by 830 px-->
                            <img class="medium" src="./pictures/cidoniju-sukades.JPG" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Cidoniju sukādes</h2>
                            </a>
                            <div class="price">€ 10</div>
                        </div>  
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680 by 830 px-->
                            <img class="medium" src="./pictures/kirbju-seklas.JPG" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Kirbju sēklas</h2>
                            </a>
                            <div class="price">€ 10</div>
                        </div>  
                    </div>
                </div>
                
            </main>
            <footer class="row center"> 
                <div>
                    <b href="help.html">Palīdzība</b>
                    <b href="location.html">Atrašanās vieta</b>
                    <b href="contacts.html">Kontakti</b>
                </div>
            </footer>
        </div>
    </body>
</html>